doctype html
html
  head
    title Plataforma de Books
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/w3.css')
  body
    h1 Plataforma de Books
    p Desenvolvida por Martim Melo Ferreira
    block content